.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000a6;
    z-index: 9999999999999999;
    direction: rtl;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.modal .content {
  height: 100%;
  overflow-y: scroll;
  direction: ltr;
  position: relative;
  z-index: 2;
  background: #fff;
  animation: slideInRight 0.4s ease-out forwards;
}



/* .modal footer{
    border-top: 1px solid #eee;
    font-family: dana;
    padding-top: 10px;
}

.modal footer button{
    padding: 5px 10px;
    border-radius: 5px;
    font-family: dana;
    font-size: 14px;
} */